$font-roboto: 'Roboto', sans-serif;
$font-astoria: 'Astoria', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;
$default-font-size: 10px;
$text-color: #1d1d1b;
$link-color: #919191;
$link-hover-color: #e05a0a;
