@font-face {
    font-family: 'Astoria';
    src: url('fonts/astoriamedium-webfont.woff2') format('woff2'),
    url('fonts/astoriamedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'Astoria';
    src: url('fonts/zastoriabold-webfont.woff2') format('woff2'),
    url('fonts/zastoriabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}