@import "vendor/_odometer.scss";
@import "mixins/mixins";
@import "fonts/fonts";
@import "base/config";
@import "base/normalize";
@import "base/helpers";
@import "base/helpers-extend";
@import "base/base";

.page-wrapper {
    position: relative;
    z-index: 10;

}

body {
    background-color: #151515;

    &.is-desktop.off-canvas-is-active {
        padding-right: 17px;
    }

}

.main-content {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.logo {
    width: 157px;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
    color: #ffc731;
    font-weight: 400;
    font-family: $font-astoria;
}

h1 {
    font-size: 30px;

    @include media(md) {
        font-size: 38px;
    }
}

h2 {
    font-size: 30px;
    @include media(md) {
        font-size: 36px;
    }
}

h3 {
    font-size: 24px;
    @include media(md) {
        font-size: 30px;
    }
}

h4 {
    font-size: 18px;
    @include media(md) {
        font-size: 24px;
    }
}

h5 {
    font-size: 18px;

}

button {
    cursor: pointer;
}

.button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    &:focus {
        outline: none;
    }
    &.-primary {
        text-transform: uppercase;
        font-family: $font-astoria;
        color: #d9d9d9;
        height: 48px;
        padding: 0 20px;
        background-image: url('../img/btn-bg@2x.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;

        @include hover() {
            color: #ffc731;
            svg {
                fill: #ffc731;
            }
        }
    }
    &.-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background-image: url('../img/btn-circle.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.-play {
        width: 98px;
        height: 98px;
        background-image: url(../img/play-btn.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.-iron {
        width: 32px;
        height: 32px;
        font-family: $font-roboto;
        font-size: 2.4rem;
        font-weight: 700;
        position: relative;
        color: #d1d1d1;
        background: none;
        background-image: url(../img/iron-btn@2x.png);
        background-size: contain;

        &.swiper-pagination-bullet-active {
            color: #ffc731;
        }
    }
    &.-iron-toggle {
        width: 32px;
        height: 32px;
        font-family: $font-roboto;
        font-size: 2.4rem;
        font-weight: 700;
        position: relative;
        color: #d1d1d1;
        background-image: url(../img/iron-btn@2x.png);
        background-size: contain;
        &:before {
            @extend .h-center-xy;
            position: absolute;
            content: '-';
        }

        .accordion .collapsed & {
            &:before {
                content: '+';
            }
        }

    }

    &__left-icon {
        margin-right: 5px;
        position: relative;
        bottom: 2px;
    }

}

[class^=icon-] {
    fill: #d9d9d9;
    display: inline-block;
}

.icon-btc {
    width: 16px;
    height: 23px;
}

.icon-fb {
    width: 23px;
    height: 26px;
}

.icon-tw {
    width: 19px;
    height: 19px;
}

.icon-insta {
    width: 18px;
    height: 18px;
}

.icon-telegram {
    //width: 18px;
    //height: 17px;

    width: 27px;
    height: 25px;
}

.icon-discord {
    width: 22px;
    height: 16px;
}

.icon-ln {
    width: 15px;
    height: 15px;
}

.icon-drive {
    width: 14px;
    height: 12px;
    background-image: url(../img/icon-drive@2x.png);
    background-size: contain;
    background-repeat: no-repeat;;
}

.icon-yt-btn {
    width: 20px;
    height: 15px;
}

.icon-yt-vertical {
    width: 20px;
    height: 20px;
}

.icon-check {
    width: 13px;
    height: 11px;
    background-image: url(../img/green-check.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-telegram-big {
    width: 70px;
    height: 70px;
    background-image: url(../img/icon-telegram-big.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include media(lg) {
        width: 99px;
        height: 99px;
    }
}

.telegram-big {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 110;

    @include media(lg) {
        right: 30px;
        bottom: 30px;
    }
}

.container-primary {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    &.-no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subscribe {
    position: relative;

    &__message {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        text-align: left;
        font-size: 1.4rem;

        display: block;
        padding: 5px;
        color: #14b114;

        &.-err {
            color: #ff2628;
        }
    }
    form {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    input {
        &::placeholder {
            color: #000000;
        }
        height: 60px;
        flex: 1;
        background-color: #fff;
        font-family: $font-roboto;
        color: #000000;
        font-size: 18px;
        padding: 0 20px;

        @include media(sm-max) {
            text-align: center;
        }
        @include media(sm) {
            padding: 0 25px;
        }

    }
    button {
        height: 60px;
        width: 100%;
        background-color: #ffc731;
        font-family: $font-astoria;
        color: #0c0c0c;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        @include hover() {
            color: #ffc731;
            background-color: #0c0c0c;
        }

        @include media(sm-max) {
            margin-top: 10px;
        }
        @include media(sm) {
            width: 160px;
        }
    }

}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .button {
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 15px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .par {
        margin-bottom: 5px;
        font-size: 1.4rem;
        display: block;
        text-align: center;
        width: 100%;
    }

    svg {
        @include hover() {
            fill: #ffc731;
        }
    }

}

.menu-vertical {
    a {
        text-align: left;
        padding: 0;
        font-family: $font-astoria;
        display: block;
        margin-bottom: 20px;
        font-size: 1.4rem;
        color: #d9d9d9;
        text-transform: uppercase;
        padding-left: 30px;
        background: url(../img/menu-sep.png) no-repeat 12px 1px;

        @include hover() {
            color: #ffc731;
        }
    }
}

.menu {
    width: 1170px;
    height: 65px;
    background-size: contain;
    position: fixed;
    left: 50%;
    margin-left: -585px;
    z-index: 110;
    top: -10px;

    @include media(xl-max) {
        background-color: #000;
    }
    @include media(xl) {
        top: 100px;
        height: 57px;
        position: absolute;
        background-image: url('../img/menu-back.png');
        background-repeat: no-repeat;
    }

    .is-desktop.modal-open &:not(.is-sticky) {
        margin-left: -593px;
    }

    &.is-sticky {
        .is-desktop.modal-open & {
            padding-right: 17px;
        }
        @include media(xl) {
            width: 100%;
            height: 57px;
            background-color: #000;
            background-image: none;
            left: 0;
            top: 0;
            margin-left: 0px;
            position: fixed;

            .menu {
                &__left {
                    position: absolute;
                    top: 21px;
                }

                &__right {
                    position: absolute;
                    top: 22px;
                }
            }

            .logo {
                position: absolute;
                left: 50%;
                top: 5px;
                width: 100px;
                margin-left: -50px;

                @include media(xl) {

                }
            }
        }

    }

    &__left {
        position: absolute;
        right: 50%;
        padding-right: 100px;
        top: 21px;
        display: none;
        align-items: center;

        @include media(xl) {
            display: flex;
        }
    }

    &__right {
        position: absolute;
        left: 50%;
        padding-left: 100px;
        top: 22px;
        display: none;
        align-items: center;
        @include media(xl) {
            display: flex;
        }
    }

    .nav-link {
        padding: 0;
        font-family: $font-astoria;
        display: block;
        font-size: 1.4rem;
        color: #d9d9d9;
        text-transform: uppercase;
        padding-left: 30px;
        background: url(../img/menu-sep.png) no-repeat 12px 1px;
        &:first-child {
            background: none;
            padding-left: 0;
        }
        &.active {
            color: #ffc731;
        }
        @include hover() {
            color: #ffc731;
        }
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 10px;
        margin-left: -50px;
        width: 100px;

        @include media(xl) {
            margin-left: -80px;
            width: 160px;
            top: -50px;
        }
    }

}

.section {
    position: relative;
    padding-bottom: 17px;
    background-size: cover;
    background-position: center center;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    &__divider {
        z-index: 15;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../img/iron-line-2.png');
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        height: 19px;
        background-repeat: repeat-x;
    }
    &__content {
        position: relative;
        z-index: 10;

        &.-push {
            padding-top: 150px;
            padding-bottom: 100px;
            @include media(xl) {
                padding-top: 250px;
                padding-bottom: 100px;
            }
        }
    }
}

.orc {
    max-width: 100%;
    width: 650px;
    position: relative;

    &__s1 {
        position: absolute;
        left: -20% !important;
        top: 6% !important;
    }
    &__s2 {
        position: absolute;
        left: -42% !important;
        top: 5% !important;
    }
    &__s3 {
        position: absolute;
        left: -5% !important;
        top: 4% !important;
    }
    &__orcy {
        position: absolute;
        width: 100%;
        z-index: 30;
        left: 0px;
        bottom: 0px;
    }
    &__smoke {
        position: absolute;
        bottom: 0px !important;
        left: -25px !important;
        z-index: 10;
        display: none;
        @include media(lg) {
            display: block;
        }
    }
    &__hdl {
        left: 0;
        top: 0;
        height: 0;
        position: relative;
        width: 100%;
        padding-bottom: 119%;
    }

    canvas {
        @extend .h-center-y;
        position: absolute;
        right: 0;
        z-index: 20;
    }

}

.paladin {
    position: relative;
    &__bg {
        width: 130%;
        max-width: 1500px;
        position: relative;
        left: -15%;
        bottom: -20px;
    }
    &__main {
        position: relative;
        z-index: 5;
        width: 90%;
        left: 5%;
        bottom: 0;
    }
    &__aura {
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    canvas {
        @extend .h-center-x;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
}

.divider {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-size: contain;
    background-repeat: no-repeat;

    &.-push {
        margin-top: 25px;
        margin-bottom: 35px;
    }
    &.-primary {
        width: 233px;
        height: 16px;
        background-image: url(../img/boarder-1@2x.png);
    }
    &.-secondary {
        width: 143px;
        height: 14px;
        background-image: url(../img/border-3@2x.png);
    }
    &.-trail-r {
        width: 451px;
        height: 13px;
        background-image: url(../img/boarder-2@2x.png);

    }
    &.-trail-l {
        width: 451px;
        height: 13px;
        background-image: url(../img/border-5@2x.png);

    }
}

.par {
    font-family: $font-roboto;
    color: #d7d7d7;
    font-size: 1.5rem;
    line-height: 1.5;
    display: block;

    @include media(md) {
        font-size: 1.6rem;
    }
}

.par + .par {
    margin-top: 15px;
}

.accordion-imgs {
    display: none;
    position: relative;
    @include media(md) {
        display: block;
    }
    img {
        @extend .h-center-xy;
        position: absolute;
        max-height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        &:first-child {
            @include media(md) {
                opacity: 1;
            }
        }
    }

    @include media(md) {
        height: 600px;
        margin: 20px 80px 20px 80px;

    }
}

.accordion {

    &__block {

    }

    &__border {
        width: 100%;
    }
    &__head {
        padding: 15px 15px 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;

        .button {
            margin-right: 10px;
        }
    }

    &__body {
        img {
            display: block;
            margin: 20px 0 10px;

            @include media(md) {
                display: none;
            }
        }
    }

    &__inner {
        padding-bottom: 20px;
    }

    .divider {
        margin: 0;
    }

}

.shield {
    display: inline-block;
    background-image: url(../img/rune-shield@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
}

.shield-1 {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    &.lazyloaded {
        background-image: url(../img/shield-1.png);
    }
}

.shield-2 {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    &.lazyloaded {
        background-image: url(../img/shield-2.png);
    }
}

.shield-3 {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    &.lazyloaded {
        background-image: url(../img/shield-3.png);
    }
}

.shield-minus {
    display: inline-block;
    background-image: url(../img/shield-minus@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 81px;
    height: 82px;
    &.lazyloaded {

    }
}

.shield-plus {
    display: inline-block;
    background-image: url(../img/shield-plus@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 81px;
    height: 82px;
}

.no {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    &.-t1 {
        &.lazyloaded {
            width: 17px;
            height: 40px;
            background-image: url(../img/no1@2x.png);
        }
    }
    &.-t2 {
        &.lazyloaded {
            &.lazyloaded {
                width: 26px;
                height: 40px;
                background-image: url(../img/no2@2x.png);
            }
        }
    }
    &.-t3 {
        &.lazyloaded {
            &.lazyloaded {
                width: 25px;
                height: 40px;
                background-image: url(../img/no3@2x.png);
            }
        }
    }
    &.-t4 {
        &.lazyloaded {
            &.lazyloaded {
                width: 29px;
                height: 40px;
                background-image: url(../img/no4@2x.png);
            }
        }
    }
    &.-t5 {
        &.lazyloaded {
            &.lazyloaded {
                width: 25px;
                height: 40px;
                background-image: url(../img/no5@2x.png);
            }
        }
    }
    &.-t6 {
        &.lazyloaded {
            &.lazyloaded {
                width: 28px;
                height: 40px;
                background-image: url(../img/no6@2x.png);
            }
        }
    }
    &.-t7 {
        &.lazyloaded {
            &.lazyloaded {
                width: 26px;
                height: 40px;
                background-image: url(../img/no7@2x.png);
            }
        }
    }
    &.-t8 {
        &.lazyloaded {
            &.lazyloaded {
                width: 29px;
                height: 40px;
                background-image: url(../img/no8@2x.png);
            }
        }
    }
}

.person {
    text-align: center;
    &__img-hold {
        max-width: 230px;
        margin: 0 auto 15px;

        img {
            width: 230px;
            height: 230px;
            display: block;
            object-fit: cover;
            object-position: center center;
        }
    }
    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        padding-bottom: 100%;
        display: block;

        margin-bottom: 10px;
        object-fit: cover;
        mask-image: url("../img/masker.png");
        mask-size: 100%;
    }
    &__desc {
        margin-top: 19px;
        font-size: 1.5rem;
        color: #d7d7d7;
        line-height: 1.5;

        P + P {
            margin-top: 12px;
        }
    }
    &__company {
        text-align: center;
        font-size: 1.5rem;
        color: #d7d7d7;
    }
    &__socials {
        display: none;
        text-align: center;
        margin-top: 5px;

        @include media(md-max) {
            display: block;
        }

        .icon-in {
            width: 25px;
            height: 25px;
            fill: #ffc731;
        }

        svg {
            fill: #ffc731;
        }
    }
    &__name {
        font-size: 2.4rem;
        color: #ffc731;
        margin-bottom: 3px;
    }
    &__sub {
        font-size: 1.5rem;
        color: #d7d7d7;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-right: 5px;
        }
        a {
            display: inline-block;
            @include media(md-max) {
                display: none;
            }
        }
        .icon-ln {
            width: 12px;
            height: 12px;
            fill: #ffc731;
        }
    }

}

.blog {

    &__main-img {
        @extend .h-center-bg-image;
        height: 230px;
        display: block;

        @include media(lg) {

            width: 110%;
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 15px;
        }
    }
    &__card {
        display: block;
        background-image: url(../img/texture-1.jpg);
        background-repeat: repeat;
    }
    &__img {
        width: 100%;
        height: 230px;
        background-size: cover;
    }
    &__text {
        padding: 25px 15px 20px 15px;

        @include media(sm) {
            padding: 25px 20px 20px 30px;
        }
        h3 {
            font-size: 2.4rem;
            margin-bottom: 8px;
        }
        p {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

    }
    p.blog__date {
        font-size: 1.2rem;
    }

    & .container-fluid:first-child {
        .blog__card {
            @include media(lg) {
                min-height: 350px;
            }

        }
        .blog__text {
            padding: 25px 15px 20px 15px;
            @include media(sm) {
                padding: 38px 20px 20px 28px;
            }
        }
    }
}

.app-modal {
    .modal-dialog {
        max-width: 900px;
        margin-top: 50px;
    }
    .modal-content {
        border: none;
    }
    .modal-body {
        padding: 0;
        width: 100%;
        background-color: #000;
    }
    .close {
        font-size: 5.5rem;
        position: absolute;
        right: -35px;
        top: 0;
        color: #ccc;
    }

    iframe {
        border: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }
}

//==================================

.section-1 {
    overflow: hidden;
    background-color: #0a0a0a;
    &__about {
        text-align: center;
        @include media(lg) {
            margin-left: 40px;
        }
        h1 {
            margin-bottom: 17px;
        }
        h4 {
            font-family: $font-roboto;
            margin-bottom: 20px;
            color: #d9d9d9;
        }
        p {
            font-family: $font-roboto;
            color: #bcbcbc;
            font-size: 16px;
            margin-bottom: 15px;
        }

        @include media(lg-max) {
            text-align: center;
        }
        @include media(lg) {
            margin-top: 150px;
            margin-bottom: 60px;
        }
        @include media(xl) {
            margin-top: 253px;
            margin-bottom: 155px;
        }

    }
    &__counter {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 1.6rem;
            margin-right: 10px;
            color: #ccc;
        }
        div {
            font-size: 1.8rem;
            color: #ffc731;
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;

        @include media(lg-max) {
            .button {
                margin: 0 10px 10px 10px;
            }
        }
        @include media(lg) {
            justify-content: space-between;
        }
    }
    &__orc-hdl {
        @extend .h-full-abs;
    }
    &__shadow {
        @extend .h-full-abs;

        background-image: url(../img/shadow-top.png);
        background-size: cover;
        background-position: center center;

        &.-t1 {
            display: none;
            height: 103%;
            @include media(lg) {
                display: block;
            }
        }
    }
    &__texts {
        @include media(lg-max) {
            position: relative;
            top: -70px;
        }
    }
    &__bg-hdl {
        @extend .h-full-abs;
        z-index: 1;

        .is-desktop & {
            @extend .h-center-xy;
            width: 125%;
            height: 125%;
        }
    }

    .subscribe {
        margin-bottom: 15px;
    }

    .section {

        &__bg {
            .page-thank-you & {
                background-image: url('../img/main-cover.jpg');
            }
            @include media(lg) {
                background-image: url('../img/main-cover.jpg');
            }
        }
        &__divider {
            bottom: -4px;
        }
        &__content {
            @include media(lg-max) {
                padding-top: 50px;
            }
        }
    }

    .social {
        @include media(lg-max) {
            justify-content: center;
        }
    }

    .orc-container {

        @include media(lg-max) {
            position: relative;
            padding-top: 100px;
            background-image: url('../img/main-cover.jpg');
            background-size: cover;
            background-position: center center;
        }
        .section-1 {
            &__shadow {
                display: none;
                @include media(lg-max) {
                    display: block;
                }
            }
        }
    }

    .orc {

        @include media(lg) {
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translate3d(-80%, 0px, 0px) !important;
        }
        @include media(xl) {
            bottom: -15%;
        }
        &__hdl {
            @include media(lg-max) {
                position: relative;
            }
        }
    }

    .fog {
        display: none;
        @include media(lg) {
            display: block;
            height: 102%;
        }
    }

}

.section-2 {
    background-color: #151515;
    padding: 65px 0 80px;

    @include media(lg) {
        padding: 110px 0 145px;
    }
    &__text {
        text-align: center;
        @include media(md-max) {
            margin-bottom: 30px;
        }
    }

    &__yt {
        img {
            display: block;
            margin: 0 auto;

            @include media(md-max) {
                width: 100%;
            }
        }
        .button {
            position: absolute;
            @extend .h-center-xy;
        }
    }

    .divider {
        &.-secondary {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .par {
        text-align: left;
        display: flex;
        align-items: center;
    }

    .text-slider {
        max-width: 440px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .yl-logo {
        flex: 1 0 auto;
        margin-right: 10px;
    }

}

.section-3 {
    overflow: hidden;
    background-color: #0b0e12;
    &__text {
        padding: 65px 0 60px;
        text-align: center;

        @include media(lg-max) {
            text-align: center;
        }
        @include media(lg) { 
            padding: 130px 0 180px 50px;
        }
        h2 {
            text-align: center;
        }
    }
    &__powered {
        text-align: center;
        margin-top: 50px;
        div {
            font-size: 1.2rem;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }

    .divider {
        margin-top: 21px;
        margin-bottom: 25px;
    }

    .fog {
        display: none;
        @include media(lg) {
            display: block;
            height: 102%;
        }
    }

    .paladin {
        max-width: 700px;
        position: absolute;
        bottom: 0;

        .is-desktop & {
            transform: translate3d(0%, 100%, 0);
        }

    }
    #paladinSmoke {
        position: absolute;
        @include media(lg) {
            right: 50%;
        }
    }
    #paladinSkirma {
        position: relative;
        @include media(lg) {
            position: absolute;
            right: 50%;
        }
    }

}

@keyframes fog {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes smoke1 {
    0% {
        left: 100%;
    }
    100% {
        left: -30%;
    }
}

@keyframes smoke2 {
    0% {
        left: 100%;
    }
    100% {
        left: -40%;
    }
}

.fog {
    @extend .h-full-abs;

    &.lazyloaded {
        .fog {
            &__s3 {
                background-image: url(../img/smoke-bg.png);
            }
        }
    }

    &__s1 {
        width: 30%;
        top: 20%;
        animation: smoke1 30s linear 0s infinite normal;
        transform: translateZ(0);
    }

    &__s2 {
        width: 40%;
        top: 50%;
        animation: smoke2 20s linear 0s infinite normal;
        transform: translateZ(0);
    }
    &__s3 {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 200%;
        background-position: 0 bottom;
        background-size: 50% 100%;

        .browser-latest & {
            animation: fog 150s linear 0s infinite normal;
        }
    }

    img {
        position: absolute;
    }
}

.section-4 {
    text-align: center;
    background-color: #151515;

    @include media(md-max) {
        [class*="col-"] + [class*="col-"] {
            margin-top: 50px;
        }
    }
    &__left, &__right {
        position: relative;
        @include media(xl) {
            padding: 70px 40px 45px;
            background-image: url(../img/frame.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: rgba(24, 24, 24, 0.8);
        }
    }

    &__left {

    }
    &__right {
        @include media(xl) {
            h2 {
                font-size: 4.2rem;
            }
            h5 {
                font-size: 2.2rem;
            }
            .par {
                font-size: 1.7rem;
            }
        }
    }
    .section {
        &__bg {
            filter: brightness(120%);
            .is-desktop:not(.ie-old) & {
                background-attachment: fixed;
            }
            //@include media(md-max) {
            //    height: auto;
            //    padding-bottom: 100%;
            //    box-shadow: inset 0px -48px 71px -20px #151515;
            //}
        }
        &__content {
            padding: 60px 0 60px;

            @include media(md) {
                padding: 133px 0 130px;
            }
        }
    }

    .shield-minus, .shield-plus {
        @include media(xl) {
            transform: translateX(-50%);
            position: absolute;
            top: -40px;
            left: 50%;
        }
    }

    .divider {
        &.-primary {
            margin-top: 12px;
            margin-bottom: 28px;
        }
        &.-secondary {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

    h4, h5 {
        margin-bottom: 15px;
    }
}

.section-5 {
    background: #151515;
    .section {
        &__content {
            padding: 60px 0 60px;

            @include media(md) {
                padding: 70px 0 60px;

            }
        }
    }

}

.section-6 {

    .is-desktop:not(.ie-old) & {
        background-attachment: fixed;
    }

    &__sub {
        max-width: 680px;
        display: block;
        color: #d7d7d7;
        margin: 0 auto 30px;
        text-align: center;
    }
    .divider {
        margin-top: 19px;
        margin-bottom: 30px;
    }

    .section {
        &__content {
            padding: 60px 0 60px;
            @include media(md) {
                padding: 110px 0 70px;
            }
        }
    }

}

.shield-slider {
    padding-bottom: 50px;

    h3 {
        font-size: 24px;
        margin: 15px 0;
    }

    .swiper-slide {
        text-align: center;

        .par {
            color: #d7d7d7;
        }
    }

    &:not(.swiper-container-horizontal) {
        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .swiper-slide {
            width: 32%;
        }
        .swiper-pagination {
            opacity: 0;
        }
    }

    &.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 0px;
    }

    .swiper-pagination-bullet {
        opacity: 1;
    }

}

.timeline {
    position: relative;
    &__circle {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;

        &.lazyloaded {
            background-image: url(../img/big-circle-clean.png);
            @include media(lg) {
                background-image: url(../img/big-circle.png);
            }
        }

        @include media(lg-max) {
            width: 250px;
            height: 250px;
            margin: 0 auto;
        }
        @include media(lg) {
            padding-bottom: 97.6%;
        }
    }
    &__check {
        margin-top: 3px;
        text-align: center;
        font-size: 1.2rem;
        color: #b3d17d;

        .icon-check {
            margin-right: 1px;
        }
    }
    &__milestone {
        width: 180px;
        text-align: center;

        @include media(lg-max) {
            margin: 0 auto 20px;
        }

        @include media(lg) {
            position: absolute;
            left: 0;
            top: 0;
        }

        &.-t1 {
            @include media(lg) {
                left: 37%;
                top: -5%;
            }
        }
        &.-t2 {
            @include media(lg) {
                left: 75%;
                top: 9%;
            }
        }
        &.-t3 {
            @include media(lg) {
                left: 89%;
                top: 36%;
            }
        }
        &.-t4 {
            @include media(lg) {
                left: 79%;
                top: 67%;
            }
        }
        &.-t5 {
            @include media(lg) {
                left: 37%;
                top: 84%;
            }
        }
        &.-t6 {
            @include media(lg) {
                left: -5%;
                top: 68%;
            }
        }
        &.-t7 {
            @include media(lg) {
                left: -15%;
                top: 34%;
            }
        }
        &.-t8 {
            @include media(lg) {
                left: 0%;
                top: 7%;
            }
        }

        .no {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 2.4rem;
            line-height: 1;
        }
        p {
            font-family: $font-pt-sans;
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
    h2 {
        @extend .h-center-xy;
        position: absolute;
        font-size: 3.2rem;

        @include media(lg) {
            font-size: 3.6rem;
            transform: translate(-50%, -40%);
        }
    }
    h3 {
        margin-bottom: 5px;
    }
}

.section-7 {
    background-color: #151515;

    .timeline {
        margin: 0 auto;

        @include media(lg) {
            width: 740px;
        }
    }
    .section {
        &__content {
            padding: 60px 0 60px;
            @include media(md) {
                padding: 145px 0 130px;
            }
        }
    }
}

.section-8 {
    background-repeat: repeat;
    background-size: auto;

    &.lazyloaded {
        background-image: url("../img/texture-1.jpg");
    }

    .section {
        &__content {
            padding: 60px 0 30px;

            @include media(md) {
                padding: 134px 0 83px;
            }
        }
    }
    h2 {
        text-align: center;
    }
    .divider {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .person {
        margin-bottom: 40px;
    }
    .advisors {
        margin-top: 20px;
    }
    .container-fluid + .container-fluid {
        margin-bottom: 85px;
    }
}

.section-9 {
    background-color: #151515;
    .section {
        &__content {
            padding: 60px 0 60px;
            @include media(lg) {
                padding: 126px 0 130px;
            }
        }
    }

    .divider {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .container-fluid + .container-fluid {
    }

    .list {
        .row > div {
            margin-top: 30px;
        }
    }

    .blog {
        &__card {
            min-height: 100%;
        }
    }

}

.section-sub {
    @extend .h-center-bg-image;
    background-size: auto;
    background-position: center center;
    background-repeat: repeat;

    h3 {
        margin-bottom: 10px;
    }
    .subscribe {
        margin-bottom: 15px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .social {
        justify-content: center;
        button {
            margin-right: 7px;
            margin-left: 7px;
            margin-bottom: 15px;
        }
    }
    .section {
        &__content {
            margin: 0 auto;
            max-width: 578px;
            padding: 80px 15px 60px;
        }
    }
}

.footer {

    color: #949899;
    font-size: 1.4rem;

    @include media(md-max) {
        text-align: center;
    }
    @include media(md) {
        height: 74px;
        display: flex;
        align-items: center;
    }

    &__c {
        @include media(md-max) {
            padding: 20px;
            border-top: solid 1px #292929;
        }
        @include media(md) {
            padding-right: 15px;
        }
    }

    a {
        margin-right: 15px;
        @include hover() {
            color: #ffc731;
        }
        @include media(md-max) {
            display: block;
            margin-bottom: 15px;
        }

    }
    nav {
        @include media(md-max) {
            padding: 30px 0 15px;
        }
        @include media(md) {
            padding-left: 15px;
        }
    }

    .container-primary {
        margin: 0 auto;
        @include media(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.off-canvas-holder {
    position: fixed;
    height: 100%;
    left: 100%;
    top: 0;
    z-index: 120;
    width: 100%;
    transform: translateZ(0);
}

.off-canvas-bg {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    .off-canvas-is-active & {
        z-index: 119
    }
}

.off-canvas {
    background-color: #0c0c0c;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    left: 0;
    top: 0;
    transition: transform .7s cubic-bezier(.7, 0, .3, 1);
    width: 300px;
    z-index: 150;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    .off-canvas-is-active & {
        transform: translate3d(-300px, 0, 0);
        @include media(desktop) {
            transform: translate3d(-300px, 0, 0);
        }
    }
    @include media(mobile-only) {

    }
    @include media(desktop) {
        width: 450px;
    }
    &__container {
        @extend .cf;
        padding: 60px 15px 80px;
        overflow: hidden;
        position: relative;
        text-align: right;
        @include media(desktop) {
            padding: 110px 40px 70px;
        }
    }
    &__close {
        display: none;
        position: absolute;
        z-index: 10;
        @include media(desktop) {
            display: block;
            left: 35px;
            top: 35px;
        }
    }
}

.hamburger-holder {
    text-align: left;
    width: 32px;
    font-size: 0;
}

.hamburger {
    $button-height: 22px;
    $button-width: 31px;
    $line-height: 4px;
    $line-color: #868686;
    $transition: .5s;

    display: inline-block;
    font-size: 10px;
    position: relative;
    height: $button-height;
    width: $button-width;
    z-index: 160;
    color: #868686;
    @mixin line {
        display: block;
        height: $line-height;
        transition: width $transition, height $transition, transform $transition;
        width: $button-width;
        background-image: url(../img/menu-line.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .off-canvas-side-menu-is-active & {
        .hamburger {
            &__lines {
                background: transparent;
                &:before {
                    transform-origin: center center;
                    transform: rotate(45deg) translate(0, 0);
                }
                &:after {
                    transform-origin: center center;
                    top: 0;
                    transform: rotate(-45deg) translate(0, 0);
                }
            }
        }
    }
    &.is-hovered {
        .hamburger {
            &__ico {
                background-color: #65a9b3;
                &:before, &:after {
                    background-color: #65a9b3;
                }
            }
        }
    }
    &__lines {
        left: 0;
        margin-top: -$line-height/2;
        position: absolute;
        top: 50%;
        @include line;
        &:before, &:after {
            content: '';
            left: 0;
            position: absolute;
            @include line;
        }
        &:before {
            transform: translate(0, -($button-height/2 - $line-height/2));
        }
        &:after {
            transform: translate(0, $button-height/2 - $line-height/2);
        }
    }
}

.section-cashflow {
    overflow: hidden;

    &__shadow {
        height: 105%;
        background-size: cover;
    }

    .divider {
        margin: 20px auto 50px;

    }
    .section {
        &__content {
            padding: 60px 0 0;
            @include media(lg) {
                padding: 140px 0;
            }
            @include media(lg-max) {
                padding-bottom: 95%;
            }
        }
        &__divider {
            bottom: -4px;
        }
    }
    .horizont {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        @include media(lg) {
            position: absolute;
            width: 700px;
            left: 48%;
            bottom: 0;
        }
    }
}

.calc {
    &__rows {
        margin-bottom: 60px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        font-family: $font-astoria;
        div {
            color: #d7d7d7;
        }
        span {
            color: #ffc731;
        }
    }
    &__divider {
        width: 100%;
        display: block;
        margin: 17px 0;
    }
    &__range-slider {

    }
    &__grads {
        display: block;
        margin: 20px auto 10px;
        width: 95%;
    }
    &__years {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        color: #d7d7d7;
    }
    .rangeslider {
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 10px;

        .section-cashflow.lazyloaded & {
            background-image: url(../img/range-slider-border@2x.png);
        }
        &__fill {
            background-color: transparent;
        }
        &__handle {
            top: -12px;
            width: 32px;
            height: 32px;
            border: none;
            background-image: url(../img/calc-btn@2x.png);
            background-size: contain;
            background-repeat: no-repeat;
            &:after {
                display: none;
            }
        }
    }

}

.js-horizont-view {
    transition: filter 0.3s;
}

.horizont {

    &__hdl {
        padding-bottom: 90%;
    }
    &__s1 {
        top: 63%;
        left: -4%;
        width: 90%;
    }
    &__s2 {
        top: 57%;
        left: 37%;
        width: 80%;
    }
    &__view {
        left: 5%;
        top: 0;
        width: 100%;
    }
    &__paladin {
        width: 100%;
        left: 0;
        top: 27%;
    }
    &__s4 {
        top: 79%;
        left: 3%;
        width: 70%;
    }

    img {
        position: absolute;
    }
}

.hamburger {
    z-index: 130;
    position: fixed;
    right: 30px;
    top: 15px;
    display: block;
    @include media(xl) {
        display: none;
    }
}

.section-mid-sub {
    .section {
        &__content {
            padding: 80px 0;
        }
    }
}

.text-slider {

    &__text {
        font-size: 1.8rem;
        color: #ffc731;
        line-height: 1.5;
        text-align: center;
    }
    .swiper-container {
        padding-bottom: 25px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 0;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border: solid 2px #ffc731;
        background: #ffc731;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: none;
    }
}

.privacy-section {
    @include media(xl) {

    }
    h1 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .par {
        margin-top: 20px;
    }
}

.odometer {
    .odometer-inside {
        display: flex;
    }
}

.page-thank-you {
    h1 {
        margin-bottom: 30px;
    }
    h5 {
        margin-bottom: 15px;
    }
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .button {
            margin: 0 5px 10px;
        }
    }
}

.section-thanks {
    .section {

        &__bg {
            background-image: url('../img/main-cover.jpg');
        }
    }
}

.section-seen {
    display: none;
    &__logos {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        a {
            margin: 10px;
        }
    }

    .section {
        &__content {
            padding: 90px 0;
        }
    }
}

.section-supported {
    &__logos {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        a {
            margin: 10px;
        }
    }

    .section {
        &__content {
            padding: 90px 0;
        }
    }
}

.yl-logo {
    background-image: url(../img/yl-circle.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 1.8rem;
    color: #151515;
    font-family: $font-astoria;
    font-weight: 700;
    font-style: normal;
}

.section-crowdsale {
    &.lazyloaded {
        background-image: url(../img/texture-1.jpg);
        background-repeat: repeat;
        background-size: auto;
    }

    &__title {
        background-color: rgba(37, 35, 34, 0.8);
        text-align: center;

        h4 {
            padding: 20px 0 15px;
        }
    }
    &__graph {
        display: block;
        position: relative;

        left: 5%;
        width: 90%;
        margin-top: 30px;
    }
    &__graph-hdl{
        padding: 0 0 30px;
        margin-bottom: 20px;

        @include media(md){
            min-height: 100%;
        }
    }
    &__brd {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .section {
        &__content {
            padding: 90px 0 80px;
        }
    }
}